PYTHON Basics

In [ ]:
#comments
#this is a comment

In [3]:
#concat

str1 = 'Inime naan dha inga'
str2 = 'Rangaraya Sakthivel Nayakan'
concat_str = str1 + " " +str2
print(concat_str)

Inime naan dha inga Rangaraya Sakthivel Nayakan

In [6]:
#indexing
concat_str[20:29]

'Rangaraya'

In [7]:
#length
len(concat_str)

47

In [8]:
#lower & upper
concat_str[0:20].lower() + concat_str[20:48].upper()

'inime naan dha inga RANGARAYA SAKTHIVEL NAYAKAN'

In [22]:
#print
ganesh = "Thamasuh thamasu"
print(ganesh)

Thamasuh thamasu

In [23]:
#replace
ganesh_1 = ganesh.replace("Thamasuh", "Neenga eppo")
ganesh = ganesh_1.replace('thamasu', 'vazhaporeenga?')

print(ganesh)

Neenga eppo vazhaporeenga?

In [32]:
#slicing and concat
new_str = concat_str[20:48] + ", " + ganesh
print(new_str)

Rangaraya Sakthivel Nayakan, Neenga eppo vazhaporeenga?

In [44]:
#split
split1 = new_str.split()
split2 = new_str.split(",")
print(split1,split2)

['Rangaraya', 'Sakthivel', 'Nayakan,', 'Neenga', 'eppo', 'vazhaporeenga?'] ['Rangaraya Sakthivel Nayakan', ' Neenga eppo vazhaporeenga?']

In [66]:
#strip
new_str[28:55]

' Neenga eppo vazhaporeenga?'

In [67]:
#strips extra spaces
new_str[28:55].strip()

'Neenga eppo vazhaporeenga?'

DATA STRUCTURES

In [115]:
#list

#append
oxy = ["Prime", "Viper", "Ashi", "Carnage", "Thunder"]
print(oxy)
oxy.append("Poison")
oxy.append("Rahul")
oxy.append("Tharani")
print(oxy)

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder']
['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

In [116]:
#count
oxy.count('Prime')

1

In [117]:
#copy
oxy1 = oxy.copy()
oxy1

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

In [119]:
oxy1.append("omen")
print(oxy1)

#deleting
del oxy1[8]
print(oxy1)

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani', 'omen']
['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

In [144]:
#extend - to add multiple elements from diff data structure
alph = ["a","b","c","d"]#list
print(alph)

alhp2 ={"e","f","g"}#tuple
alph.extend(alhp2)
print(alph)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [143]:

alph = ["a","b","c","d"] #list
alhp2 =("e","f","g")#tuple

alph = alph  + alhp2 

print(alph)

TypeError: can only concatenate list (not "tuple") to list

In [145]:
#index
alph[-7]

'a'

In [187]:
#insert
alph1 = alph.copy()
alph1.insert(8,'h') #add an element in the given position
print(alph1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [160]:
#modifying list
alph1[0] = 1
alph1

[1, 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [161]:
#pop
removed_element = alph1.pop()
print(removed_element)

removed_element1 = alph1.pop(1)
print(removed_element1)

h
b

In [162]:
#remove
print(alph1)
alph1.remove('c')
print(alph1)

[1, 'c', 'd', 'e', 'f', 'g']
[1, 'd', 'e', 'f', 'g']

In [180]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1[1:10:2]

[2, 4, 6, 8, 10]

In [195]:
alph1.pop(0)
alph1.insert(5,'a')
print(alph1)

['b', 'c', 'd', 'e', 'f', 'a', 'g', 'h']

In [196]:
alph1.sort()
print(alph1)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

#tuple

In [ ]:
#count
fruits = ('apple','banana','apple','orange','apple','banana')
print(fruits)
apple_count = fruits.count('apple')
print('Count of apple is ',apple_count)

#index
print(fruits[1])

#sum
num = (10,20,30,45)
print(sum(num))

#min and max
print('Min = ', min(num), ' Max = ', max(num))

#len
len(num)

('apple', 'banana', 'apple', 'orange', 'apple', 'banana')
Count of apple is  3
banana
105
Min =  10  Max =  45

4

Dictionaries

In [222]:
pirate = {"Name":"Luffy","Age":19,'position':'captain'}
pirate

{'Name': 'Luffy', 'Age': 19, 'position': 'captain'}

In [213]:
name = pirate["Name"]
name

'Luffy'

In [214]:
pirate["Age"] = 17
pirate

{'Name': 'Luffy', 'Age': 17, 'position': 'captain'}

In [215]:
del pirate["position"]
pirate

{'Name': 'Luffy', 'Age': 17}

In [219]:
pirate["level"]= "Worst Gen"
pirate

{'Name': 'Luffy', 'Age': 17, 'level': 'Worst Gen'}

In [220]:
pirate.update({'level':'Yonko'})
pirate

{'Name': 'Luffy', 'Age': 17, 'level': 'Yonko'}

In [221]:
pirate.clear()

In [225]:
if 'Name' in pirate:
    print("Name exists in the Dict")

Name exists in the Dict

In [228]:
print(list(pirate.values()))
print(list(pirate.items()))

['Luffy', 19, 'captain']
[('Name', 'Luffy'), ('Age', 19), ('position', 'captain')]

sets

In [229]:
fruits = ('apple','banana','apple','orange','apple','banana')

fruits = set(fruits)
print(fruits)

{'apple', 'banana', 'orange'}

In [230]:
fruits.add("mango")
fruits

{'apple', 'banana', 'mango', 'orange'}

In [ ]:
fruits.discard('orange')
fruits

{'apple', 'banana', 'mango'}

In [233]:
subset = fruits.issubset(colors)

NameError: name 'colors' is not defined