# PYTHON Basics

## Comments

Comments are essential for making your code readable and understandable. They are ignored by the Python interpreter.

In [1]:

# This is a single-line comment
x = 10  # This is an inline comment

## String Concatenation

String concatenation is the process of joining two or more strings together.

In [2]:

str1 = 'Inime naan dha inga'
str2 = 'Rangaraya Sakthivel Nayakan'
concat_str = str1 + " " + str2
print(concat_str)
# Expected Output: Inime naan dha inga Rangaraya Sakthivel Nayakan

Inime naan dha inga Rangaraya Sakthivel Nayakan

## String Indexing

Strings in Python are sequences, and individual characters can be accessed using indexing. Python uses zero-based indexing.

In [3]:

# Accessing a substring using slicing
print(concat_str[20:29])
# Expected Output: Sakthivel

Rangaraya

## String Length

The `len()` function returns the number of characters in a string.

In [4]:

print(len(concat_str))
# Expected Output: 48

47

## String Case Conversion (lower() & upper())

The `lower()` method converts all characters in a string to lowercase, and `upper()` converts them to uppercase.

In [5]:

print(concat_str[0:20].lower() + concat_str[20:48].upper())
# Expected Output: inime naan dha inga RANGARAYA SAKTHIVEL NAYAKAN

inime naan dha inga RANGARAYA SAKTHIVEL NAYAKAN

## Print Function

The `print()` function is used to display output to the console.

In [6]:

ganesh = "Thamasuh thamasu"
print(ganesh)
# Expected Output: Thamasuh thamasu

Thamasuh thamasu

## String Replacement (replace())

The `replace()` method returns a new string with all occurrences of a substring replaced by another substring.

In [7]:

ganesh_1 = ganesh.replace("Thamasuh", "Neenga eppo")
ganesh = ganesh_1.replace('thamasu', 'vazhaporeenga?')
print(ganesh)
# Expected Output: Neenga eppo vazhaporeenga?

Neenga eppo vazhaporeenga?

## String Slicing and Concatenation

Combining slicing and concatenation allows for flexible manipulation of strings.

In [8]:

new_str = concat_str[20:48] + ", " + ganesh
print(new_str)
# Expected Output: Rangaraya Sakthivel Nayakan, Neenga eppo vazhaporeenga?

Rangaraya Sakthivel Nayakan, Neenga eppo vazhaporeenga?

## String Splitting (split())

The `split()` method splits a string into a list of substrings based on a delimiter.

In [9]:

split1 = new_str.split()  # Splits by whitespace by default
split2 = new_str.split(",") # Splits by comma
print(split1, split2)
# Expected Output: ['Rangaraya', 'Sakthivel', 'Nayakan,', 'Neenga', 'eppo', 'vazhaporeenga?'] ['Rangaraya Sakthivel Nayakan', ' Neenga eppo vazhaporeenga?']

['Rangaraya', 'Sakthivel', 'Nayakan,', 'Neenga', 'eppo', 'vazhaporeenga?'] ['Rangaraya Sakthivel Nayakan', ' Neenga eppo vazhaporeenga?']

## String Stripping (strip())

The `strip()` method removes leading and trailing whitespace (or specified characters) from a string.

In [10]:

# Original substring
print(new_str[28:55])
# Expected Output: Sakthivel Nayakan, Neenga eppo
# Strips extra spaces
print(new_str[28:55].strip())
# Expected Output: Sakthivel Nayakan, Neenga eppo

 Neenga eppo vazhaporeenga?
Neenga eppo vazhaporeenga?

# DATA STRUCTURES

## List

Lists are ordered, mutable (changeable) sequences of items. They are defined by enclosing elements in square brackets `[]`.

In [11]:

# Creating a list
oxy = ["Prime", "Viper", "Ashi", "Carnage", "Thunder"]
print(oxy)
# Expected Output: ['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder']

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder']

### List Methods

#### append()

Adds a single element to the end of the list.

In [12]:

oxy.append("Poison")
oxy.append("Rahul")
oxy.append("Tharani")
print(oxy)
# Expected Output: ['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

#### count()

Returns the number of times a specified value appears in the list.

In [13]:

print(oxy.count('Prime'))
# Expected Output: 1

1

#### copy()

Returns a shallow copy of the list. Changes to the new list will not affect the original, unless the elements are mutable objects themselves.

In [14]:

oxy1 = oxy.copy()
print(oxy1)
# Expected Output: ['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']
oxy1.append("omen")
print(oxy1)
# Expected Output: ['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani', 'omen']
print(oxy) # Original list remains unchanged
# Expected Output: ['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']
['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani', 'omen']
['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

#### del (Deleting Elements)

The `del` keyword can be used to remove an element at a specific index or to delete the entire list.

In [15]:

del oxy1[8] # Deletes the element at index 8 ('omen')
print(oxy1)
# Expected Output: ['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

['Prime', 'Viper', 'Ashi', 'Carnage', 'Thunder', 'Poison', 'Rahul', 'Tharani']

#### extend()

Adds all the elements of an iterable (like another list, tuple, set, or string) to the end of the current list.

In [16]:

alph = ["a","b","c","d"] # list
print(alph)
# Expected Output: ['a', 'b', 'c', 'd']

alhp2 ={"e","f","g"} # set (order is not guaranteed when extending from a set)
alph.extend(alhp2)
print(alph)
# Expected Output (order of e,f,g might vary): ['a', 'b', 'c', 'd', 'e', 'f', 'g']

# Another way to concatenate lists (creates a new list)
alph = ["a","b","c","d"] # list
alhp2 =("e","f","g") # tuple
alph = alph + list(alhp2) # Convert tuple to list for concatenation
print(alph)
# Expected Output: ['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'f', 'g', 'e']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

#### index()

Returns the index of the first occurrence of a specified value.

In [17]:

print(alph[-7]) # Negative indexing: -1 refers to the last element, -7 refers to the 7th element from the end
# Expected Output: a

a

#### insert()

Adds an element at a specified position.

In [18]:

alph1 = alph.copy()
alph1.insert(8,'h') # add an element 'h' at index 8
print(alph1)
# Expected Output: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

#### Modifying List Elements

Elements in a list can be modified by assigning a new value to a specific index.

In [19]:

alph1[0] = 1 # Changes the first element from 'a' to 1
print(alph1)
# Expected Output: [1, 'b', 'c', 'd', 'e', 'f', 'g', 'h']

[1, 'b', 'c', 'd', 'e', 'f', 'g', 'h']

#### pop()

Removes and returns the element at a specified index (defaults to the last element).

In [20]:

removed_element = alph1.pop() # Removes and returns the last element ('h')
print(removed_element)
# Expected Output: h
print(alph1)
# Expected Output: [1, 'b', 'c', 'd', 'e', 'f', 'g']

removed_element1 = alph1.pop(1) # Removes and returns the element at index 1 ('b')
print(removed_element1)
# Expected Output: b
print(alph1)
# Expected Output: [1, 'c', 'd', 'e', 'f', 'g']

h
[1, 'b', 'c', 'd', 'e', 'f', 'g']
b
[1, 'c', 'd', 'e', 'f', 'g']

#### remove()

Removes the first occurrence of a specified value.

In [21]:

print(alph1)
# Expected Output: [1, 'c', 'd', 'e', 'f', 'g']
alph1.remove('c') # Removes the value 'c'
print(alph1)
# Expected Output: [1, 'd', 'e', 'f', 'g']

[1, 'c', 'd', 'e', 'f', 'g']
[1, 'd', 'e', 'f', 'g']

#### List Slicing

Slicing allows you to extract a portion of a list. `[start:end:step]`

In [22]:

list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1[1:10:2]) # Elements from index 1 up to (but not including) 10, with a step of 2
# Expected Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

#### sort()

Sorts the elements of the list in ascending order by default. Modifies the list in-place.

In [23]:

alph1.pop(0) # Remove the element at index 0 (which is 1)
alph1.insert(5,'a') # Insert 'a' at index 5
print(alph1)
# Expected Output: ['d', 'e', 'f', 'g', 'a'] (assuming previous state was [1, 'd', 'e', 'f', 'g'])
alph1.sort()
print(alph1)
# Expected Output: ['a', 'd', 'e', 'f', 'g']

['d', 'e', 'f', 'g', 'a']
['a', 'd', 'e', 'f', 'g']

## Tuple

Tuples are ordered, immutable (unchangeable) sequences of items. They are defined by enclosing elements in parentheses `()`.

In [24]:

# Creating a tuple
fruits = ('apple','banana','apple','orange','apple','banana')
print(fruits)
# Expected Output: ('apple', 'banana', 'apple', 'orange', 'apple', 'banana')

('apple', 'banana', 'apple', 'orange', 'apple', 'banana')

### Tuple Methods

#### count()

Returns the number of times a specified value appears in the tuple.

In [25]:

apple_count = fruits.count('apple')
print('Count of apple is ',apple_count)
# Expected Output: Count of apple is  3

Count of apple is  3

#### index()

Returns the index of the first occurrence of a specified value.

In [26]:

print(fruits[1])
# Expected Output: banana

banana

#### sum()

Returns the sum of all elements in a tuple (if they are numeric).

In [27]:

num = (10,20,30,45)
print(sum(num))
# Expected Output: 105

105

#### min() and max()

Returns the minimum and maximum element in a tuple.

In [28]:

print('Min = ', min(num), ' Max = ', max(num))
# Expected Output: Min =  10  Max =  45

Min =  10  Max =  45

#### len()

Returns the number of elements in a tuple.

In [29]:

print(len(num))
# Expected Output: 4

4

## Dictionaries

Dictionaries are unordered collections of key-value pairs. They are mutable and optimized for retrieving values when the key is known. Defined by enclosing elements in curly braces `{}`.

In [30]:

# Creating a dictionary
pirate = {"Name":"Luffy","Age":19,'position':'captain'}
print(pirate)
# Expected Output: {'Name': 'Luffy', 'Age': 19, 'position': 'captain'}

{'Name': 'Luffy', 'Age': 19, 'position': 'captain'}

### Dictionary Operations

#### Accessing Values

Values are accessed using their corresponding keys.

In [31]:

name = pirate["Name"]
print(name)
# Expected Output: Luffy

Luffy

#### Modifying Values

Values associated with a key can be changed.

In [32]:

pirate["Age"] = 17
print(pirate)
# Expected Output: {'Name': 'Luffy', 'Age': 17, 'position': 'captain'}

{'Name': 'Luffy', 'Age': 17, 'position': 'captain'}

#### Deleting Key-Value Pairs (del)

The `del` keyword removes a key-value pair from the dictionary.

In [33]:

del pirate["position"]
print(pirate)
# Expected Output: {'Name': 'Luffy', 'Age': 17}

{'Name': 'Luffy', 'Age': 17}

#### Adding New Key-Value Pairs

New key-value pairs can be added by assigning a value to a new key.

In [34]:

pirate["level"]= "Worst Gen"
print(pirate)
# Expected Output: {'Name': 'Luffy', 'Age': 17, 'level': 'Worst Gen'}

{'Name': 'Luffy', 'Age': 17, 'level': 'Worst Gen'}

#### update()

Adds elements to the dictionary or updates existing ones.

In [35]:

pirate.update({'level':'Yonko'})
print(pirate)
# Expected Output: {'Name': 'Luffy', 'Age': 17, 'level': 'Yonko'}

{'Name': 'Luffy', 'Age': 17, 'level': 'Yonko'}

#### clear()

Removes all items from the dictionary.

In [36]:

pirate.clear()
print(pirate)
# Expected Output: {}

{}

#### Checking for Key Existence

Use the `in` keyword to check if a key exists in the dictionary.

In [37]:

if 'Name' in pirate:
    print("Name exists in the Dict")
else:
    print("Name does not exist in the Dict")
# Expected Output: Name does not exist in the Dict (since pirate was cleared)

Name does not exist in the Dict

#### Getting Keys, Values, and Items

- `keys()`: Returns a view object that displays a list of all the keys in the dictionary.
- `values()`: Returns a view object that displays a list of all the values in the dictionary.
- `items()`: Returns a view object that displays a list of a dictionary's key-value tuple pairs.

In [38]:

pirate = {"Name":"Luffy","Age":19,'position':'captain'} # Re-initializing for demonstration
print(list(pirate.keys()))
# Expected Output: ['Name', 'Age', 'position']
print(list(pirate.values()))
# Expected Output: ['Luffy', 19, 'captain']
print(list(pirate.items()))
# Expected Output: [('Name', 'Luffy'), ('Age', 19), ('position', 'captain')]

['Name', 'Age', 'position']
['Luffy', 19, 'captain']
[('Name', 'Luffy'), ('Age', 19), ('position', 'captain')]

## Sets

Sets are unordered collections of unique items. They are mutable. Defined by enclosing elements in curly braces `{}` or using the `set()` constructor.

In [39]:

# Creating a set from a tuple (duplicates are automatically removed)
fruits = ('apple','banana','apple','orange','apple','banana')
fruits = set(fruits)
print(fruits)
# Expected Output (order may vary): {'banana', 'orange', 'apple'}

{'banana', 'apple', 'orange'}

### Set Methods

#### add()

Adds a single element to the set. If the element is already present, it does nothing.

In [40]:

fruits.add("mango")
print(fruits)
# Expected Output (order may vary): {'banana', 'orange', 'apple', 'mango'}

{'banana', 'apple', 'mango', 'orange'}

#### discard()

Removes a specified element from the set. If the element is not found, it does nothing.

In [41]:

fruits.discard('orange')
print(fruits)
# Expected Output (order may vary): {'banana', 'apple', 'mango'}

{'banana', 'apple', 'mango'}

#### remove()

Removes a specified element from the set. If the element is not found, it raises a `KeyError`.

In [42]:

# fruits.remove('non_existent_fruit') # This would raise a KeyError

#### union(), intersection(), difference()

Sets support mathematical set operations.

In [43]:

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print("Union:", set1.union(set2)) # All unique elements from both sets
# Expected Output: Union: {1, 2, 3, 4, 5, 6}

print("Intersection:", set1.intersection(set2)) # Common elements
# Expected Output: Intersection: {3, 4}

print("Difference (set1 - set2):", set1.difference(set2)) # Elements in set1 but not in set2
# Expected Output: Difference (set1 - set2): {1, 2}

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (set1 - set2): {1, 2}